@import url("stylesheet.css");

.form-title {
    margin: 0 0 30px 0;
    font-weight: bold;
    text-align: center;
    color: var(--gray-dark);
    text-transform: uppercase;
    letter-spacing: 3.5px;
    font-size: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.input-form {
    margin: 10px 0;
    padding: 5px;
    height: 45px;
    border: 1px solid var(--border-color);
    width: 100%;
    border-radius: 5px;
}

.submit-form {
    margin-top: 10px;
}

.label-none {
    opacity: 0;
    height: 0;
    width: 0;
}

.input-icon {
    position: relative;
}

.input-icon>.input-form {
    position: relative;
    z-index: 1;
    padding-left: 30px;
}

.input-icon>i {
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10px;
    color: var(--gray-medium);
}

.btn {
    width: max-content;
    padding: 5px 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.btn-green {
    background: var(--green);
    color: white;
}

.btn-green:hover {
    background: var(--green-medium);
}

.btn-blue {
    background: var(--dark-blue);
    color: white;
}
.btn-blue {
    background: var(--dark-blue);
    color: white;
}

.btn-max {
    padding: 20px;
    font-size: 17px;
}

.btn-300-size {
    width: 300px;
}

.text-area {
    margin: 10px 0;
    border: 1px solid var(--border-color);
    resize: vertical;
    font-size: 17px;
}


/*------ Login ----------*/
.container-login {
    background: var(--main-color);
    background: linear-gradient(324deg, rgba(64, 172, 225, 1) 0%, rgba(121, 211, 255, 1) 26%, rgba(100, 200, 249, 1) 51%, rgba(64, 172, 225, 1) 84%);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-login-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
    display: block;
    margin: 0 auto 5px auto;
}

.form-login {
    background: white;
    padding: 30px 60px;
    box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.18);
    border-radius: 10px;
    width: 50%;
}

/* --------- End Login ----------- */

/* --------- site ---------------- */

.header {
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.11);
    box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.11);
    height: 60px;
    z-index: 10;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo-img {
    height: 40px;
    margin-right: 10px;
}

.form-search-header {
    display: flex;
}

.form-search-input {
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
    width: 170px;
    padding: 0 10px;
    background: var(--main-color);
    border: 1px solid white;
    color: white;
}

.form-search-submit {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    width: 50px;
    color: var(--main-color);
}

.form-search-input::placeholder {
    font-size: 15px;
    color: white;
}

.header-nav {
    display: flex;
}

.header-li {
    padding: 0 15px;
}

.header-a i {
    margin-bottom: 5px;
}

.header-a {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header-profile {
    border-left: 1px solid var(--main-color-hover);
    display: flex;
    align-items: center;
}

.img-header-profile,
.usericon-img {
    border: 1px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
}


.span-notification {
    background: var(--red);
    position: absolute;
    right: 20px;
    top: -7px;
    padding: 3px 6px;
    border-radius: 50%;
    font-size: 11px;
}

.usericon-img {
    margin-right: 10px;
}

.img-header-profile {
    margin: 0 10px;
}

.username-header {
    color: white;
}

.responsive-header-nav {
    display: none;
}

.dropdown-link i {
    font-size: 17px;
    margin-right: 10px;
}

.dropdown-link {
    font-size: 13px;
    border-bottom: 1px solid var(--background-main-color);
    color: var(--main-color);
    padding: 10px 0;
    font-weight: 500;
    padding: 20px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.11);
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.11);
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(247, 247, 247, 1) 100%);
    width: 160px;
}

.dropdown-link:hover {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(236, 236, 236, 1) 100%);
}

.no-button {
    background: transparent;
    border: none;
}

.link {
    background: none;
    border: none;
    text-decoration: none;
    color: white;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
}

.dropdown>.link:focus,
.link:hover {
    color: rgb(255, 255, 255);
}

.link:hover {
    color: rgb(255, 255, 255);
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + .47rem);
    /*background-color: white;*/
    /*padding: .75rem;*/
    border-radius: .25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    pointer-events: none;
}

/* efeito toggle */
.dropdown.active>.link+.dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.information-grid {
    display: flex;
    flex-direction: column;
}

.dropdown-links {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.form>input {
    margin-bottom: .5rem;
}

.mobile-menu {
    display: none;
    position: absolute;
    background: var(--main-color);
    width: 100%;
    top: 50px;
    left: 0;
}

.main-content {
    width: 100%;
    background: var(--background-main-color);
    margin-top: 60px;
    padding: 20px 60px;
    min-height: calc(100vh - 60px);
}

.container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-sections {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, auto);
    
}

.container-center .section{
    padding: 30px 100px;
}

.section {
    background: white;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    box-shadow: 3px 3px 8px .5px rgba(0, 0, 0, 0.082);
}

.section-title {
    text-align: center;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 30px;
}

.form-group {
    display: flex;
    width: 100%;
    gap: 10px;
}

.form-group > div {
    width: 50%;
}

.form-group > div > .input-form {
    width: 100%;
}

/* ---------------------------- */

@media screen and (max-width: 48.75em) {

    .responsive-header-nav {
        display: block;
    }

    .header-a {
        padding: 20px 0;
        position: relative;
    }

    .header-nav {
        display: none;
    }

    .span-notification {
        left: 50%;
        right: 45%;
        text-align: center;
        padding: 5px;
    }

    .close-menu {
        display: none;
    }

    .form-search-responsive > .form-search-header {
        width: 100%;
    }

    .form-search-responsive > .form-search-header > .form-search-input {
        width: 100%;
    }


    .form-search-responsive {
        padding: 20px;
    }


    .form-search-lg {
        display: none;
    }
    
}