<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/site.css">
</head>
<body>
    <div class="container-login">
        <form action="" class="form form-login">
            <img src="../assets/img/logo.png" alt="" class="img-login-logo">
            <h1 class="form-title">Login</h1>
            <label for="" class="label-form label-none">Usuário</label>
            <div class="input-icon">
                <i class="fa-solid fa-user"></i>
                <input type="text" name="" id="" class="input-form" placeholder="Insira seu nome de usuário">
            </div>
            <label for="" class="label-form label-none">Senha</label>
            <div class="input-icon">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="" id="" class="input-form" placeholder="Insira sua senha">
            </div>
            <button type="submit" class="submit-form btn btn-green">Entrar</button>
        </form>
    </div>
</body>
</html>